:root {
	--sb-theme-color-white: #fff;
	--sb-theme-color-black: #000;
	--sb-theme-color-light-grey: #edf2f7;
	--sb-theme-color-grey: #999;
	--sb-theme-color-dark-grey: #333;
	--sb-theme-color-lokalise-brand: #fcb9b0;
	--sb-theme-color-nav-background: #f7fafc;
	--sb-theme-small-text-size: 12px;
	--sb-theme-default-text-size: 16px;
	--sb-theme-motion-default: 150ms ease-out;
	--sb-theme-font-family-default: 'Inter', sans-serif;
}
